.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
}
.popup-content button {
  margin-top: 15px;
  padding: 6px 12px;
  font-size: 14px;
}
